@charset "utf-8";

/* 一般設定 */
h2 {
color: blueviolet;
}

dt {
  margin-left: 10px;
  font-weight: bold;
  color: brown;
}




/* headerの設定 */
header {
  background-color: aqua;
}



/* ナビの設定 */
nav {
  background-color: lemonchiffon;
  width: 300px;
}

nav > ol > p {
  font-size: 20px;
  color: red;
  font-weight: bold;
}


/* Main　の設定 */
main {
  margin-left: 10PX;
  background-color: aquamarine;
  flex: 1;
}

/* bodyの設定 */
body {
  background-color: lightcyan;
}


/* footerの設定 */

footer {
  background-color: lightgrey;
  text-align: center;
  color: blueviolet;
}

/* ボタンの設定 */

button {
  background-color: rgb(0, 225, 255);
  border-radius: 8px;
  font-size: large;
  position: fixed;
  right: 95px;
  bottom: 96px;
  box-shadow: 0 4px #7a0000;
}

#moku {
  background-color: yellow;
  border-radius: 8px;
  font-size: large;
  position: fixed;
  right: 32px;
  bottom: 96px;
  box-shadow: 0 4px #7a0000;
}


button:hover {
 opacity: .8;
}

button:active {
  box-shadow: 0 1px #7a0000;
  transform: translateY(3px);
}





/* メディアクリエイターの設定 */
@media (min-width: 600px) {
  .container {
    display: flex;
  }
}

