@charset "utf-8";

/* 一般設定 */
h2 {
  color: blueviolet;
}

h3 {
  color: black;
  font-size: larger;
  font-weight: bold;
}




dt {
  margin-left: 10px;
  font-weight: bold;
  color: brown;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.black {
  color: black;
}




/* headerの設定 */
header {
  background-color: aqua;
}



/* ナビの設定 */
nav {
  background-color: lemonchiffon;
  width: 150px;
  height: 300px;
  position: fixed;
  border-radius: 20%;

  &:hover {
    box-shadow: 0 0 10px rgb(142, 6, 108);
  }
}



#bumoku {
  font-size: large;
  font-weight: bold;
  background-color: orange;
  margin-top: 20px;
  margin-left: 30px;
}



nav>ol>p {
  font-size: 20px;
  color: red;
  font-weight: bold;
}


/* Main　の設定 */
main {
  margin-left: 160px;
  background-color: aquamarine;
  flex: 1;
}

/* bodyの設定 */
body {
  background-color: lightcyan;
}

/* 消えていく「柱の会」制作 */

.message {
  width: 300px;
  background: silver;
  color: blueviolet;
  font-size: large;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  position: fixed;
  right: 100px;
  bottom: 32px;
  animation: popup 10s forwards;
}

@keyframes popup {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  20% {
    transform: none;
    opacity: 1;
  }

  80% {
    transform: none;
    opacity: 1;
  }

  100% {
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
  }

}








/* footerの設定 */

footer {
  background-color: lightgrey;
  text-align: center;
  color: blueviolet;
}

/* ボタンの設定 */

#top {
  background-color: rgb(0, 225, 255);
  border-radius: 8px;
  font-size: large;
  position: fixed;
  right: 95px;
  bottom: 96px;
  box-shadow: 0 4px #7a0000;
}

#moku {
  background-color: yellow;
  border-radius: 8px;
  font-size: large;
  position: fixed;
  right: 32px;
  bottom: 96px;
  box-shadow: 0 4px #7a0000;
}


button:hover {
  opacity: .8;
}

button:active {
  box-shadow: 0 1px #7a0000;
  transform: translateY(3px);
}





/* メディアクリエイターの設定 */
@media (min-width: 600px) {
  .container {
    display: flex;
  }
}