@charset "utf-8";

html,
body {
  height: 100%;
}




body {
  display: grid;
  grid-template:
    "header header"
    "nav main" 1fr "footer footer"
    / 200px 1fr;

  @media (width <=600px) {
    grid-template:
      "header"
      "nav"
      "main" 1fr
      "footer";
  }
}



body,
h1 {
  margin: 0;
}

header {
  background: orange;
  grid-area: header;
}

main {
  background: skyblue;
  grid-area: main
}

nav {
  background: tomato;
  grid-area: nav;
}

footer {
  background: silver;
  grid-area: footer;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: repeat(4, auto);
}

ul {
  grid-row: span 4;
  display: grid;
  grid-template-rows: subgrid;
}








button {
  background-color: yellow;
  font-size: large;
  position: fixed;
  right: 32px;
  bottom: 96px;
}

h4 {
  font-size: 14px;
  color: blueviolet;
  position: fixed;
  right: 25px;
  top: 10px;
}

