@charset "utf-8";

/* 一般設定 */

h1 {
  font-size: 30px;
  text-align: center;
  order: -1;
}



body {
  margin: 0;
}

header,
main,
nav,
footer {
  padding: 16px;
  box-sizing: border-box;
}




/* headerの設定 */
header {
  background-color: aqua;
  display: block;
  justify-content: space-between;
}

header > nav {
  background-color: orange;
}

.pc-menu {
  display: none;
  width: 600px;
  margin: 12px auto 0;
}

.sp-menu {
  margin: 12px auto 0;
}


.common-menu {
  background-color: yellowgreen;
  margin: 0 auto;
}





header > nav > div {
  width: 300px;
}


/* ナビの設定 */

nav {
  background-color: yellow;
  width: 250px;
  order: -1;
}



/* bodyの設定 */
body {
  background-color: pink;
}

/* Main　の設定 */

main {
  background-color: lightgreen;
  font-size: 14px;
  flex: 1;
}






/* footerの設定 */

footer {
  background-color: silver;
  text-align: center;
}

/* メディアクエリ－の設定 */
/* width =<600　の設定 */
@media (min-width: 600px) {
  .sp-menu {
    display: none;
  }

  .common-menu {
    display: block;
    width: 600px;
  }

  .pc-menu {
    display: block;
    background-color: green;
  }

  .common-menu {
    display: flex;
    justify-content: space-between;
  }

  .container {
    display: flex;
  }
}


/* ボタンの設定 */

#moku {
  background-color: rgb(0, 225, 255);
  border-radius: 8px;
  font-size: large;
  position: fixed;
  right: 32px;
  bottom: 96px;
  box-shadow: 0 4px #7a0000;
}




button:hover {
 opacity: .8;
}

button:active {
  box-shadow: 0 1px #7a0000;
  transform: translateY(3px);
}

